*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #dbdbdb;
    margin: 0;
    font-family: sans-serif;
}
.pantalla-d
{
    display: flex;
    background-position: 100%;
    height: 340px;
    
}
.izquierda{
    background: #253486;
    width: 55%;
    display: grid;
    align-content: center;

}
p img{
    height: 30px;
    width: 30px;
}
.LogoUleam2{
    margin-left: 40px;
    align-content: center;
    height:60px;
    width: 390px;
}
.derecha{
    background: #4e8cbe;
    width: 45%; 
	display: grid;
    
}
.pngnombre{
    height: 300px;
    width: 300px;
    margin: 20px;
    font-size:large;
    position: relative;
    top:30px;
    left: 200px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding: 15px;
    margin: auto;
    
}

header{
    display: flex;
    height: 75px;
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
p{
    font-size: 30px;
  width: 50%;
  margin: auto;
  display: inline-block;
}

img{
    width: 50%;
    margin: auto;

  }

.LogoUleam{
    display: flex;
}
.LogoUleam img{
    margin-left: 40px;
    height: 80px;
    width: 285px;
}
.botonr{
    position: relative;
    top:30px;
    left: 600px;
}
a button{
    color: white;
    background-color: rgb(18, 11, 122);
    border-radius: 10px;
    width: 110px;
    height: 50px;
    cursor: pointer;
    margin-right: 40px;
    border-color: none;
    transition: .2s;
    position: relative;
    

}
a button:hover{
    background-color: rgb(17, 150, 150);
    width: 115px;
    height: 55px;
    transition: .2s;
    
}

footer{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: #232325;
    padding-top: 30px;
    align-items: center;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.navv a{
    text-decoration: none;
    color: rgb(231, 228, 228);
    display:contents;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
