html{
    height: 100%;
}
body{
    min-height: 100%;
} 

.activities{ /* Contenedor de body*/
    display: block;
    position: static;
    width: 100%;
    height: auto;
    background-color: rgba(206, 206, 206, 0.568);
}
.title-activities{
    font-family: "Signika Negative", sans-serif;
    margin: auto;
    height: 80px;
    width: auto;
}
.title-activities h1{
    text-align: center;
    font-size: 200%;
    padding: 20px;
    color: black;
}
.content-formulario{ /*Contenedor de formulario*/
    width: 100%;
    height: 100%;
}
.formulario{ /*Contenedor de form-activities*/
    margin: 0 90px;
    height: auto;
}
.form-activities{ /*Contenedor del grupo de inputs contenedor flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:baseline;
    padding: 0 20px;
}
.formulario__grupo{/*Contenedor de inputs */
    margin: 1%;
}
.formulario__grupo-input{
    cursor: pointer;
    width: 100%;
}
.formulario-input{
    width: 100%;
    background-color: rgb(206, 206, 205);
    border: 1px solid rgb(206, 206, 205);
    font-family: "Noto Sans SC", sans-serif;
    line-height: 50px;
    padding: 0 10px 0;
    font-size: 13px;
}
 
/* id de los inputs*/
#tarea{
    order: 1;
    flex-grow: 5;
    flex-basis: 40%;
}
#correccion{
    order: 2;
    flex-grow: 5;
    flex-basis: 40%;
}
#observaciones{
    order: 3;
    flex-grow: 1;
    flex-basis: 20%;
}
#date{
    order: 4;
}
#select{
    order: 5;
    width: 160px;
    height: 50px;
    flex-grow: 4;
}

.formulario__input-error{
    font-family: "Noto Sans SC", sans-serif;
    margin: 0 20px 0;
    font-size: 12px;
}
#grupo__button{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.contenedor-button{
    display: flex;
    justify-content: center;
}
.formulario__grupo-button{
    display: inline-block;
    position: flex;
    justify-content: center;
}
.formulario__button{

}
.formulario__grupo-button input{
    font-family: "Signika Negative", sans-serif;
    background-color: rgb(66, 6, 122);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 15%;
    margin: 20px;
    font-size: 20px;
    padding: 4%;
}
footer{
    position: static;
    margin: 0;
    height: auto;
}
