.cards {
    display: flex;
}

.cards .card-1{
    margin-top: 200px;
    margin-left: 120px;
    margin-bottom: 500px;
    background: #ffc400d6;
    display: flex;
    width: 18%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card-2{
    margin-top: 300px;
    margin-left: -274px;
    margin-bottom: 500px;
    background: #ffc400d6;
    display: flex;
    width: 18%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}