body{
    font-family: sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding: 15px;
    margin: auto;
    text-align: center;
}

header{
    display: flex;
    height: 75px;
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.LogoUleam{
    display: flex;
}
.LogoUleam img{
    margin-left: 40px;
    height: 80px;
    width: 285px;
}

/*BOTON ACEPTAR y BOTON REGRESAR*/
.B1{
    font-size: 18px;
    background-color: rgb(190, 20, 247);
    position: absolute;
    transform: translate(500%, 75%);
}

.B2{
    font-size: 18px;
    background-color: rgb(190, 20, 247);
    position: absolute;
    transform: translate(700%, 13%);
}

a button{
    color: white;
    background-color: rgb(18, 11, 122);
    border-radius: 5px;
    width: 115px;
    height: 55px;
    cursor: pointer;
    margin-right: 40px;
    border-color: none;
    transition: .2s;
}
a button:hover{
    background-color: rgb(17, 150, 150);
    width: 115px;
    height: 55px;
    transition: .2s;
}



footer{
    margin-top: 100px;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: #232325;
    padding-top: 30px;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.LogoUleam2 img{
    align-content: center;
    height:60px;
    width: 190px;
}

.navv a{
    text-decoration: none;
    color: rgb(231, 228, 228);
    display:contents;
    padding: 15px;
    margin: auto;
    text-align: center;
    cursor: none;
    font-family: Arial, Helvetica, sans-serif;
}
/*TITULO*/
.Titulo-Subir_Actividades{
    text-align: center;
    font-size: 25px;
}

.Contenido-Subir_Actividad{
    bottom: 300px;
}

/*Descripción*/
.Descripcion{
    margin-left: 360px;
}

.Descripcion label{
    font-size: 20px;
    margin-left: -20px;
}
.Descripcion textarea{
    margin-top: -20px;
    margin-left: 90px;
    height: 120px;
    width: 700px;
    resize: none;
    background: #d4d4d4;
}


/*Agregar Archivo*/
/*Input*/
.Boton-Subir-1A{
    margin-left: -150px;
    margin-top: -120px;
}

.Boton-Subir-1A label{
    font-size: 20px;
}
.Boton-Subir-1A input{
    margin-left: 520px;
    margin-top: 30px;
}

.Contenido-A{
    background: #d4d4d4;
    border: 1px dashed rgb(116, 115, 115);
    height: 125px;
    width: 350px;
}

.Agregar_Archivo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoIcono img{
    margin-top: 20px;
    margin-left: 10px;
    height: 75px;
    width: 75px;
}

.Mensaje-1A{
    margin-left: 100px;
    margin-top: -100px;
    font-size: 14px;
}

.Body-Agregar_Archivo{
    margin-top: 40px;
    margin-left: 70px;
    background: #d4d4d4;
    height: 125px;
    width: 600px;
}

