/* Cabecera*/
header{
    display: flex;
    height: 75px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Body*/
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/*Titulo*/
.Titulo-Actividades{
    margin-top: 12px;
    text-align: center;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.Contenedores{
    margin-top: 350px;
}

/*Inputs*/

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

/*Contenedores*/
/*--------------------------------------------------*/
.Contenedores button
{
    font-size: 20px;
    color: white;
    background-color: rgb(190, 20, 247);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.Contenedores button:hover
{
    color: white;
    background-color: rgb(17, 150, 150);
    width: 150px;
    height: 50px;
}
/*Contenedor 1*/
.Contenedores .Contenedor-1{
    position: absolute;
    top: 50%;
    left: 50%;
    widows: 500px;
    transform: translate(-50%, -150%);
}

.Contenedor-1 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    margin-right: 340px;
}

.Contenedor-1 button
{
    top: -103PX;
    margin-left: -94px;
}



/*Contenedor 2*/
.Contenedores .Contenedor-2{
    position: absolute;
    top: 50%;
    left: 50%;
    widows: 500px;
    transform: translate(-50%, -75%);
}

.Contenedor-2 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    margin-right: 340px;
}

.Contenedor-2 button
{
    top: -72PX;
    margin-left: -395px;
}


/*Contenedor 3*/
.Contenedores .Contenedor-3{
    position: absolute;
    top: 50%;
    left: 50%;
    widows: 500px;
    transform: translate(-50%, 0%);
}

.Contenedor-3 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    margin-right: 340px;
}

.Contenedor-3 button
{
    top: -65PX;
    margin-left: 656px;
}


/*Contenedor 4*/
.Contenedores .Contenedor-4{
    position: absolute;
    top: 50%;
    left: 50%;
    widows: 500px;
    transform: translate(-50%, 75%);
}

.Contenedor-4 input[type="text"]
{
    background: rgb(255, 170, 0);
    width: 640px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    margin-right: 340px;
}

.Contenedor-4 button
{
    top: -64PX;
    margin-left: 656px;
}


/*a button{
    color: white;
    background-color: rgb(18, 11, 122);
    border-radius: 5px;
    width: 110px;
    height: 50px;
    cursor: pointer;
    border-color: none;
    transition: .2s;
}*/

.LogoUleam{
    display: flex;
}
.LogoUleam img{
    margin-left: 40px;
    height: 80px;
    width: 285px;
}

.LogoUleam2 img{
    align-content: center;
    height:60px;
    width: 190px;
}
/*Boton Regresar*/
.Contenedor-Regresar button{
    margin-top: 80px;
    left: 300%;
    color: white;
    background-color: rgb(190, 20, 247);
    border-radius: 5px;
    width: 180px;
    height: 70px;
    cursor: pointer;
    border-color: none;
    transition: .2s;
    font-size: 20px;
}

.Contenedor-Regresar button:hover{
    background-color: rgb(17, 150, 150);
    width: 180px;
    height: 70px;
    transition: .2s;
}

/*footer*/
footer{
    top: 600px;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: #232325;
    padding-top: 30px;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.navv a{
    text-decoration: none;
    color: rgb(231, 228, 228);
    display:contents;
    padding: 15px;
    margin: auto;
    text-align: center;
    cursor: none;
    font-family: Arial, Helvetica, sans-serif;
}
