@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
     .contenedor-nav {
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        height: inherit;
        overflow: hidden;
    }

    /* Image */


position: absolute;
width: 586px;
height: 714px;
right: 0px;
top: 58px;

background: url(image.png);