

.about-services{
    background: #F5B546;
    height: 588px;
}

.contenedor-1{
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 20px;
    width: 450px;
    height: 300px;
    background: var(--color-blanco);
    position: fixed;
    left: 400px;
    top: 220px;
}

.contenedor-2{
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 20px;
    width: 450px;
    height: 300px;
    background: var(--color-blanco);
    position: fixed;
    left: 1000px;
    top: 220px;
}

.imagen{
    width: 50%;
}