
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}

h1{
  color:rgb(168, 38, 38);
  text-align:center;

  font-size: 40px;
}

.login-form{
  width:450px;
  padding:110px 30px;
  background:rgb(235, 235, 235);
  
  margin:auto;
  position: absolute;
  left: 0;
  right: 0;
  top:120%;
   
}
.form-group{
  position: relative;
  margin-bottom:15px;
}
/*usuario y contraseña*/
.form-control{
  width:100%;
  height:50px;
  border:none;
  padding:5px 7px 5px 15px;
  background:rgb(255, 255, 255);
  color:#666;
  border:2px solid #ddd;
 
}
.form-group .fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
/*para el boton */
.log-btn{
  background:#ffffff;
  
  width:100%;
  font-size:16px;
  height:50px;
  border-radius: 35px;
  color:rgb(248, 35, 35);
  text-decoration:none;
  border-color: #f00;
  
}
/*para el olvide mi contraseña*/
.link{
  text-decoration:none;
  color:rgb(168, 38, 38);
  float:right;
  font-size:15px;
  margin-bottom:15px;

}
.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}



