
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:arial;
  }
  body{background:#FF9000;}
  h1{
    color:#ccc;
    text-align:center;
    font-family: 'Vibur', cursive;
    font-size: 50px;
  }
  
  .login-form{
    width:450px;
    padding:110px 30px;
    background:#eee;
    
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    top:120%;
     
  }
  .form-group{
    position: relative;
    margin-bottom:15px;
  }
  .form-control{
    width:100%;
    height:50px;
    border:none;
    padding:5px 7px 5px 15px;
    background:#fff;
    color:#666;
    border:2px solid #ddd;
   
  }
  .form-group .fa{
    position: absolute;
    right:15px;
    top:17px;
    color:#999;
  }
  
  .log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
    border-color: #ed1c24;
    color: #ed1c24;
  }
  .log-btn{
    background:#0AC986;
    
    width:100%;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    
  }
  
  .link{
    text-decoration:none;
    color:#C6C6C6;
    float:right;
    font-size:12px;
    margin-bottom:15px;
  
  }
  .alert{
    display:none;
    font-size:12px;
    color:#f00;
    float:left;
  }
  