.content-activities{
    margin-top: 80px;
}

.title-activities{
    padding: 40px 60px 0;
    height: 80px;
    width: auto;
    display: block;
}

.title-activities h1{
    text-align: left;
    font-family: "Signika Negative", sans-serif;
    font-size: 200%;
    width: 100%;
}

main{
    margin: 0 4%;
    padding: 20px;
}
.formulario{
    width: 100%;
    position: relative;
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-between;
    padding: auto;
 
}
.formulario__grupo{

    justify-content: flex-start;
    margin-left: 20px;
}
.formulario__grupo-input{
    padding: 20px;
    cursor: pointer;
    width: 100%;
}
.formulario__input-error{
    font-family: "Noto Sans SC", sans-serif;
    margin: 0 20px;
    font-size: 15px;
}
.formulario-input{
    width: 100%;
    background-color: rgb(206, 206, 205);
    border: 1px solid rgb(206, 206, 205);
    font-family: "Noto Sans SC", sans-serif;
    line-height: 45px;
    margin: 10px;
    padding-left: 10px;

}

#tema{
    width: 400px;

}
#grupo__tema{
    order: 1;
    flex-grow: 1;
    flex-basis: 4%;
}

#horas{
    width: 200px;
}
#grupo__time{
    order: 2;
    flex-grow: 1;
    flex-basis: 3%;
}
#tareas{
    width: 300px;

}
#grupo__tareas{
    order: 3;
    flex-grow: 1;
    flex-basis: 3%;
}


#select{
    width: 300px;
    height: 40px;

}
#grupo__group{
    order: 4;
    flex-grow: 1;
    flex-basis: content;
    flex-basis: 6%;
    justify-content: center;
}
#date{
    width: 170px;
}
#grupo__tutoria{
    order: 5;
    flex-grow: 1;
    flex-basis: 3%;
}
#proxdate{
    width: 170px;

}
#grupo__proxtutoria{
    order: 6;
    flex-grow: 1;
    flex-basis: 2%;
}

#observaciones{
    height: 100px;
    width: 400px;
}
#grupo__observaciones{
    order: 7;
    flex-grow: 2;
    flex-basis: 5%;

}
#grupo__tipotutoria{
    display: flex;
    order: 8;
    flex-grow: 2;
    flex-basis: 9%;
    width: auto;

}
.formulario__checkbox{
    padding-top: 20px ;
}
.formulario__checkbox-select{

}
.formulario__grupo-checkbox{  
    order: 9;
    flex-grow: 2;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20px 0;
    margin:0 10px;  
    font-family: "Signika Negative", sans-serif;

}

.action-button{
    display: flex;

    position: relative;
    padding: 0 40%;
    margin: 60px;

}

#grupo__button{
    display: flex;
    order: 10;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}
.formulario__grupo-button{
    margin: 20px;

}
.formulario-button{
    font-family: "Signika Negative", sans-serif;
    background-color: rgb(66, 6, 122);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 90px;
    height: 50px;
    border-radius: 15%;
    margin: 20px;
}
